.deposit {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(190,190,190,0.22);
    cursor: pointer;
    background-color: var(--primary);
    transition: all ease-in-out 300ms;
}

.deposit:hover {
  background-color: var(--secondary);
}

.deposit h1 {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}

h1.deposit-subtitle {
    font-size: 0.6rem;
    color: #B2BFE1;
    margin-top: 2px;
}

.deposit .deposit-property {
    width: 30%;
    display: flex;
    align-items: center;
}

.deposit .deposit-property-text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.deposit-property-img {
    height: 35px;
    width: 35px;
}

h1.deposit-street {
    font-size: 1rem;
}

h1.deposit-moveindate {
    width: 15%;
}

h1.deposit-rent {
    width: 10%;
}

.depositWrapper {
    width: 15%;
}

.deposit .deposit-status {
    display: flex;
    align-items: center;
}

.deposit-status .status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: var(--color);
    margin-left: 1rem;
    position: absolute;
    right: 7rem;
}