:root {
  --color-contrast-low: '#d3d3d4';
  --color-white: #FFF;
  --switch-color-primary: #302C40;
  --switch-animation-duration: 0.2s;
  --gradient: linear-gradient(122deg, rgba(128,74,216,1) 0%, rgba(98,75,217,1) 100%);
  --color-green: #5DC399;
  --color-gray: #adadad;
}